table{
	text-align: center;
	font-family: "tahoma";
}

h1{
	font-family: "Curlz MT";
	color: #67D8EF;
}

body{
	background-color: #006266;
	color: #fff;
	font-size: 1.5em;
}

th{
	color: #ff4771;
}

#apercu{
	color: #A7A7A7;
}

#contenu_apercu{
	font-size: 2em;
}